node_modules
js/node_modules
ts/node_modules


js/package.json
ts/package.json

.vscode
js/.vscode
ts/.vscode

package-lock.json
js/package-lock.json
ts/package-lock.json

config.json
js/config.json
ts/config.json

cmds-handler.js